.MuiButtonBase-root.navbar_button{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid $grey;
    width: 100%;
    height: 120px;
    color: $blue;
    font-family: font-light;
    font-size: 18px;
    text-align: center;
    margin: 2px 0;
    padding: 10px;
    background-color: white;
    flex-grow: 1;
    // text-transform: none;
    // letter-spacing: 0;
    .MuiButton-label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &>.db_navbar_icon{
            height: 50px;
            width: 100px;
            margin-bottom: 10px;
            background-color: $blue;
            mask-repeat: no-repeat;
            mask-position: center;
            
        }
        &>.disabled{
            background-color: $grey;
        }
    }
}