.MuiButtonBase-root.navbar_button{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid $grey;
    width: 100%;
    height: 120px;
    color: $blue;
    font-family: font-light;
    font-size: 18px;
    text-align: center;
    margin: 2px 0;
    
    background-color: white;
    flex-grow: 1;
    // text-transform: none;
    // letter-spacing: 0;
    .MuiButton-label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
        line-height: 1;
        text-transform: none;
        &>.db_navbar_icon{
            height: 45px;
            width: 100px;
            margin: 10px;
            background-color: $blue;
            mask-repeat: no-repeat;
            mask-position: center;
            
        }
        &>.disabled{
            background-color: $grey;
        }
    }
}

@media screen and (max-width: 500px) {
    .db_navbar_icon{
        width: 40px!important;
    }
    .MuiButtonBase-root.navbar_button .MuiButton-label{
        font-size: 12px;
    }
}