.home_navbar{
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > .navbar{
        flex-direction: row;

    }
    .MuiPaper-root{
        box-shadow: none;
        justify-content: center;
        align-items: center;
    }
    .MuiAppBar-colorPrimary{
        background-color: white;
    }
    .MuiTabs-root{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60%;
        color: $blue;
    }
    .MuiTab-root{
        font-family: font-bold;
        white-space: pre;
        font-size: 14px;
        width: auto;
        min-width: 110px;
        text-align: center;
    }
    .PrivateTabIndicator-root-65{
        height: 4px;
    }
    .PrivateTabIndicator-colorSecondary-67{
        background-color: $blue;
    }
   
    
}
.dashboard_header{
    background-color: $blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 10vh;

    &>.user_logout{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &>h2{
            color: white;
            margin: 0 20px;
            font-size: 20px;
            font-family: font-bold;
        }
    }
}

@media screen and (max-width: 1100px) {
    .home_navbar{
        > .navbar{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            > .MuiTabs-root{
                width: 90%;
                overflow-x: scroll;
            }
        }
    }
    .auth_buttons{
        margin-top: 20px;
    }
    
    // TODO - MENU ON SMALL SCREENS
    // .MuiTabs-flexContainer{
    //     overflow-x: scroll;
    // }
}
@media screen and (max-width: 500px) {
    .dashboard_header{
        height: auto;
        padding: 10px;
        flex-direction: column;
    }
}