.home_navbar{
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .MuiPaper-root{
        box-shadow: none;
        justify-content: center;
        align-items: center;
    }
    .MuiAppBar-colorPrimary{
        background-color: white;
    }
    .MuiTabs-root{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60%;
        color: $blue;
    }
    .MuiTab-root{
        font-family: font-bold;
        white-space: pre;
        font-size: 14px;
        width: auto;
        min-width: 110px;
        text-align: center;
    }
    .PrivateTabIndicator-root-65{
        height: 4px;
    }
    .PrivateTabIndicator-colorSecondary-67{
        background-color: $blue;
    }
   
    
}
.dashboard_header{
    background-color: $blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 10vh;
}