.selected_tool_border{
    border: 3px solid $blue;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.selected_tool_move,
.selected_tool_rotate,
.selected_tool_scale{
    height: 20px;
    width: 20px;
    background-color: $blue;
    border-radius: 50%;
    position: absolute;
    
}
.scale_1{
    top: -10px;
    left : -10px;
}
.scale_2{
    top: -10px;
    right: -10px;
}
.scale_3{
    bottom: -10px;
    left : -10px;
}
.scale_4{
    bottom: -10px;
    right: -10px;
}
.selected_tool_move{
    left: calc(50% - 10px);
}
.selected_tool_rotate{
    left: calc(50% - 10px);
    top: -25px;
}