.modal_login{
    display: flex;
    justify-content: center;
    align-items: center;


}
.loginForm_holder{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;

    &>h2{
        font-family: font-bold;
        font-size: 24px;
        text-align: center;
        color: $blue;
    }
    .login_form{
        display: flex;
        margin: 20px 0;
    }
    &>h3{
        font-family: font_regular;
        font-size: 18px;
        text-align: center;
        color: $blue;
        margin: 30px 0;
        border-bottom: 1px solid $blue;
        line-height: 0em;
        &>span{
            background-color: white;
            padding: 0 10px;
        }
    }
}