.MuiButtonBase-root{
    &.colors_button{
        font-family:font-bold;
        font-size: 16px;
        color: white;
        min-width: 120px;
        height: min-content;
        margin: 0 10px;

        &.wide{
            width: 100%;
            margin: 0px;
        }
    }
    &.blue{
        background-color: $blue;
        &:hover{
            background-color: $blue;
        }
    }
    &.green{
        background-image: linear-gradient(to left,$green,$green-2);
        &:hover{
            background-image: linear-gradient(to left,$green,$green-2);
        }
    }
    

}