.hp_home{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .holders{
        padding: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .mark_img{
        background-color: lightgray;
        width: 100%;
    }
    .signup_invitation{
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        &>h2{
            font-size: 50px;
            font-family: font-bold;
            padding-bottom: 20px;
        }
        &>h3{
            font-size: 18px;
            font-family: font_regular;
            color: $blue;
            padding-bottom: 20px;
        }
        &>h4{
            font-size: 16px;
            font-family: font-bold;
            padding-bottom: 20px;
        }
    }
}