// Reset css
@import './styles/reset';
// Fonts
@import './styles/fonts';
// Colors
@import './styles/colors';

// Macro 
@import '../macro/login/login';
@import '../macro/signup/signup';
@import '../macro/dashboard/dashboard';
@import '../macro/editor/landingPage/editor_landingpage';
@import '../macro/home/home';
// Meso 
@import '../meso/layout/navbar/navbar';
@import '../meso/layout/dbNavbar/dbNavbar';
@import '../meso/layout/footer/footer';
@import '../meso/homePages/home/hp_home';
@import '../meso/dashboardPages/dbHome/dbHome';
@import '../meso/dashboardPages/dbLanding/dblanding';
// Micro
@import '../micro/logo/logo';
@import '../micro/buttons/colorsButton/colorsButton';
@import '../micro/buttons/socialMediaButton/socialMediaButton';
@import '../micro/navButton/navButton';
@import '../micro/searchBarBasic/searchBarBasic';
@import '../micro/landingpagePreview/landingPagePreview';

@import '../micro/editorElements/forms/newsLetterSubscribe/newslettersubscribe';