.MuiButtonBase-root{

    &.blue_button{
        font-family:font-bold;
        font-size: 16px;
        color: white;
        min-width: 120px;
        height: min-content;
        margin: 0 10px;
        background-color: $blue;
        &:hover{
            background-color: $blue;
        }
        &.wide{
            width: 100%;
            margin: 0px;
        }
    }

}