.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font-family: font-bold;
    &.blue{
    background-color: $blue;
    color: white;
    }
    &.white{
    background-color: white;
    color: $blue;
    }
}