.editor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
    width: 100%;
    &>.tools{
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 200px;
        height: 100%;
        background-color: gray;
    }
}