.edit_tool{
    &.MuiFormControl-root{
        width: 80px;
        margin: 5px 0;
    }
    &>label{
        background-color: white;
        border-radius: 3px;
        padding: 2px;
        &.MuiInputLabel-outlined{
            transform: translate(14px,10px) scale(1);
        }
        &.MuiInputLabel-outlined.MuiInputLabel-shrink{
            transform: translate(14px,-6px) scale(0.75);
        }
        
    }
    &>div.MuiInputBase-root{
        background-color: white;
        height: 35px;
        &>.MuiInputBase-input{
            height: 20px;
        }
    }

}

.editor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 83vh;
    width: 100%;

    &>.tools{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 180px;
        background-color: $green;
        // background-image: linear-gradient($green,$green-2);
        /*
            Modify Tools
        */
        &.modify{
            width: 350px;
            padding: 20px;
            box-sizing: border-box;
            background-color: white;
            background-image: none;
            &>h3{
                font-family: font-bold;
                font-size: 18px;
                margin: 15px 0;
                color: $blue;
            }
            .col{
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            .row{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                width: 100%;
                justify-content: space-evenly;
                align-items: center;
                &>h5{
                    font-family: font_regular;
                    font-size: 16px;
                    margin: 8px 0;
                    color: $blue;
                }
            }
            .row,
            .col{
                &>h4{
                    font-family: font_regular;
                    font-size: 16px;
                    margin: 8px 0;
                    width: 100%;
                    text-align: left;
                    color: $blue;
                }
            }
        }
        &>.tool{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 10px;
            border-radius: 10px;
            background-color: white;
            color: $green;
            height: 100px;
            width: 150px;
            &>span{
                display: initial;
            }
        }
    }
    &>.canvas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        background-color: lightgray;
        &>.canvas_canvas{
            
            position: relative;
            width: 90%;
            height: 80%;
            background-color: $blue;
            overflow: auto;
           
            
            &>.canvas_editor_landingPage{
                position: absolute;
                left: 5%;
                top:5%;
                height: 1200px;
                width: 900px;
                background-color: white;
                transform-origin: 0 0;
                
                }
            
        }
        &>.canvas_header,
        &>.canvas_footer{
            display: flex;
            flex-direction: row;
            height: 10%;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding: 0 30px;
            width: 100%;
            font-family: font_regular;
            &>.scale_editor{
                background-color: white;
                padding: 5px;
                border-radius: 5%;
                &>label{
                    font-size: 14px;
                    color: $blue;
                    font-family: font-bold;
                }
                &>div{
                    color: $blue;
                    font-size: 16px;
                }
            }
            &>.topbar_row{
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: white;
                width: 70%;
                border-radius: 5PX;
                &>.MuiFormControl-root.MuiTextField-root{
                    width: 40%;
                    padding: 0 5%;
                    flex-grow: 1;
                }
            }
            .topbar_col{
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }



            &>button{
                margin: 0px;
            }
            &>.breakpoints{
                background-color: white;
                border-radius: 10px;
                padding: 0 5px;
                font-family: font_regular;
                color: $blue;
                &>button{
                    padding: 6px;
                    margin: 2px;
                    &>span{
                        &>svg{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}
.bkp-button-icon{
    height: 30px;
    
}
