.swipeable_holder{
    flex-grow: 1;
    display: flex;
    min-height: 83vh;
    justify-content: center;
    align-items: center;
    &>div{
        height: 100%;
        width: 100%;
        &>div{
          height: 100%;
          width: 100%;
          &>div{
              height: 100%;
              width: 100%;
              &>div{
                  height: 100%;
                  width: 100%;
                }  
            }  
        }        
      }
  }