.landing_preview_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &>h3{
        font-family: font-bold;
        text-transform: uppercase;
        color: $blue;
        margin-bottom: 5px;
    }
    &>h4{
        font-family: font-bold;
        text-transform: capitalize;
        color: $blue;
        margin-top: 10px;
        text-decoration: underline;
        cursor: pointer;
        &>a{
            &:active,
            &::selection,
            &:visited{
                color: $blue;
            }
        }
    }
}

.MuiPaper-root.landingpage_preview{
    height: 250px;
    min-width: 200px;
    width: 200px;
    box-sizing: border-box;
    margin: 0 20px;
    overflow: hidden;
    cursor: pointer;
    &>.lpp_image1{
        background-color: lightgrey;
        width: 100%;
        position: relative;
        height: 50%;
        &>.lpp_form{
            position: absolute;
            right: 5%;
            top:10%;
            background-color: rgb(192, 192, 192);
            width: 50%;
            height: 80%;
            border-radius: 10%;
        }
    }
    &>.lpp_text{
        height: 35%;
        padding: 15px;
        overflow: hidden;
        &>p{
            
            height: 100%;
            overflow: hidden;
            width: 100%;
            text-align: justify;
            font-family: font-light;
            color: lightgray;
            font-size: 10px;
        }
    }
    &>.lpp_image2{
        background-color: lightgrey;
        width: 100%;
        height: 10%;
    }
}