.MuiPaper-root.landingpage_preview{
    height: 250px;
    min-width: 200px;
    width: 200px;
    box-sizing: border-box;
    margin: 0 20px;
    overflow: hidden;
    &>.lpp_image1{
        background-color: lightgrey;
        width: 100%;
        position: relative;
        height: 50%;
        &>.lpp_form{
            position: absolute;
            right: 5%;
            top:10%;
            background-color: rgb(192, 192, 192);
            width: 50%;
            height: 80%;
            border-radius: 10%;
        }
    }
    &>.lpp_text{
        height: 40%;
        padding: 5px;
        overflow: hidden;
        &>p{
            height: 100%;
            overflow: hidden;
            width: 60%;
            text-align: justify;
            font-family: font-light;
            color: lightgray;
            font-size: 10px;
        }
    }
    &>.lpp_image2{
        background-color: lightgrey;
        width: 100%;
        height: 10%;
    }
}