$blue: rgb(51,51,102);
$light-blue:rgb(228, 236, 247);
$green: rgb(51,153,51);
$green-2: rgb(66, 202, 66);
$red:rgb(255,51,51);
$grey:rgb(153,153,153);
$l-green:rgb(51,102,51);
$l-green2: rgb(153,153,51);
