@font-face{
    font-family:'logo';
    src: url('/assets/fonts/Secular_One/SecularOne-Regular.ttf');
}
@font-face{
    font-family:'font_regular';
    src: url('/assets/fonts/Hind/Hind-Regular.ttf');
}
@font-face{
    font-family:'font-light';
    src: url('/assets/fonts/Hind/Hind-Light.ttf');
}
@font-face{
    font-family:'font-bold';
    src: url('/assets/fonts/Hind/Hind-Bold.ttf');
}

/*
Editor Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Tillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Snippet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');