@font-face{
    font-family:'logo';
    src: url('/assets/fonts/Secular_One/SecularOne-Regular.ttf');
}
@font-face{
    font-family:'font_regular';
    src: url('/assets/fonts/Hind/Hind-Regular.ttf');
}
@font-face{
    font-family:'font-light';
    src: url('/assets/fonts/Hind/Hind-Light.ttf');
}
@font-face{
    font-family:'font-bold';
    src: url('/assets/fonts/Hind/Hind-Bold.ttf');
}