.dbLanding_holder{
    height: 100%;
    width: 80vw;
    flex-grow: 1;
    padding: 0 10px;
    .display_landingpages{
        height: 75%;
        overflow-y: auto;
        padding: 15px;
        &>h2{
            color: $blue;
            font-family:font-bold ;
            padding: 15px 0;
            font-size: 18px;
        }
        &>.row{
            display: flex;
            flex-direction: row;
        }
        .landingpages_holder{
            min-height: 250px;
            display: flex;
            flex-direction: row;
            width: 90%;
            overflow-x: auto;
            padding: 20px;
        }
    }
}
.add_landing_page{
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgrey;
    &>.MuiSvgIcon-root{
        font-size: 70px;
    }

    &.MuiButtonBase-root{
        border: 2px dashed lightgrey;
        width: 200px;
        min-width: 200px;
        margin: 0 20px;
        padding: 0px;
        height: 250px;
        margin: 0 15px;
        border-radius: 10px;
    }
}